.App {
  text-align: center;
  margin: 0;
  padding: 0;

  /* flower garden theme (fg) */
  --fg-green: #b7d83e;
  --fg-yellow: #e9e929;
  --fg-orange: #fca438;
  --fg-pink: #ecaaf2;
  --fg-blue: #aadcf2;
  --fg-dark-brown: #45321e;
}
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.app-header {
  background: linear-gradient(33deg, var(--fg-yellow), var(--fg-green));
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: calc(10px + 2vmin);
  -moz-text-stroke-color: var(--fg-dark-brown);
  -webkit-text-stroke-color: var(--fg-dark-brown);
  -moz-text-stroke-width: 1px;  
  -webkit-text-stroke-width: 1px;
}

.app-header svg {
  height: 6rem;
  margin: 0 0.5rem;
}

/* Buttons! */

button {
  padding: 0.7rem;
  margin: 1rem;
  border: #45321e 1px solid;
  border-radius: 7px;
}

button.primary {
  background-color: var(--fg-green);
  color: var(--fg-dark-brown);
  font-size: large;
}

button.secondary {
  background-color: var(--fg-yellow);
  color: var(--fg-dark-brown);
}
