@import './constants.css';

.App {
  text-align: center;
  margin: 0;
  padding: 0;
}
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.app-header {
  background: linear-gradient(33deg, var(--fg-yellow), var(--fg-green));
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: calc(10px + 2vmin);
  -moz-text-stroke-color: var(--fg-dark-brown);
  -webkit-text-stroke-color: var(--fg-dark-brown);
  -moz-text-stroke-width: 1px;  
  -webkit-text-stroke-width: 1px;
}

.app-header svg {
  height: 6rem;
  margin: 0 0.5rem;
}

/* Buttons! */

button {
  padding: 0.7rem;
  margin: 1rem;
  border: #45321e 1px solid;
  border-radius: 7px;
}

button.primary {
  background-color: var(--fg-green);
  color: var(--fg-dark-brown);
  font-size: large;
}

button.secondary {
  background-color: var(--fg-yellow);
  color: var(--fg-dark-brown);
}

button.dismiss-button {
  background-color: #45321e; /*var(--fg-dark-brown);*/
  color: #feffd6; /*var(--off-white-yellow);*/
  font-size: small;
  padding: 0.5rem;
  margin-bottom: 2rem;
}

.move-right {
  display: flex;
  justify-content: flex-end;
}